body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color:#f6f6f6;
    font-size: 1rem;
    font-weight: 300;
    padding-top: -80px;
}
h1, h2, h3, h4, h5, h6, p  {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
} 
.main {
    background-color: white;
}
.navbar {
    background-color: #1bab1b;
}

.navbar ul {
    font-size: 1.8rem;
    font-weight: 300;
    padding: 10px 0px 10px 0px;
    color:white;
}
.navbar ul :visited {
    text-decoration: none;
    color: white;
}

.navbar ul :focus {
    text-decoration: none;
    color: white;
}

.navbar ul :hover {
    text-decoration: none;
    color: #65c533;
}

.navbar-brand{
 margin-top: 10px;
 font-size: 2.5rem;
}

a.navbar-brand:visited {
    text-decoration: none;
    color: white;
}
a.navbar-brand:focus {
    text-decoration: none;
    color: white;
}
a.navbar-brand:hover {
    text-decoration: none;
    color: white;
}


.jumbotron {
    background: url('../TeaImages/logo/JoyTea_barnner.jpg') no-repeat center center;
    width: 100%;
    height: 350px;
    color: white;
}

.teacategory{
    background-color:#1bab1b;
    color:white;
    font-size: 2rem;
    width: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -30px;
    text-align:center;
}

.teacategory :visited {
        text-decoration: none;
        color: white;
    }
.teacategory :focus {
    text-decoration:none;
    color:white;
}
.teacategory :hover {
        text-decoration: none;
        color: #65c533;
    }

.categoryitem{
    margin: 0px 15px 0px 15px;
}

.productitem{
    
}

.producttable {
    display: flex;
    align-items: center;
}
.productimage {
    width: 369px;
    height: 275px;
}
.productimage2 {
    width: 285px;
    height: 215px;
}
.productdescription {
    display: block;
    background-color: #65c533;
    align-items: center;
    width: 0 auto;
    height: 80px;
    margin: 5px 10px 5px 10px;
}

span.producttext {
    font-size: 1.5rem;
    color:white;
    margin-left: 5px;
    padding-top: 10px;
}

.productdescription a{
 text-decoration:none;
}

span b.addtocarthome {
    position: relative;
    background-color: #65c533;
    left: 230px;
    padding: 5px;
    border: 0.5px solid white;
}

span b.addtocart {
    position: relative;
    background-color: #65c533;
    left: 150px;
    padding: 5px;
    border: 0.5px solid white;
}

span b.addtocart:hover, span b.addtocarthome:hover {
        background-color: white;
        color: #1bab1b;
        border: 0.5px solid #1bab1b;

}

p{
  word-break:break-all;
  font-size:1.5rem;
  margin-left:15px;
  margin-top:20px;
  margin-bottom:20px;
}

.btnblog {
    display: inline-block;
    text-decoration: none;
    background-color: #65c533;
    color: white;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.5rem;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    border: 1px solid #1bab1b;
}

.btnblog:hover {
        text-decoration: none;
        color: #65c533;
        background-color: white;
        border: 1px solid #1bab1b;
    }