body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    padding-top: -80px;
}


.jumbotron {
    background: url('../TeaImages/logo/JoyTea_barnner.jpg') no-repeat center center;
    width: 100%;
    height: 350px;
    color: white;
}

.teacategory{
    background-color:forestgreen;
    color:white;
    font-size: 2rem;
    width: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align:center;
}

.teacategory :visited {
        text-decoration: none;
        color: white;
    }
.teacategory :focus {
    text-decoration:none;
    color:white;
}
.teacategory :hover {
        text-decoration: none;
        color: #65c533;
    }

.categoryitem{
    margin: 0px 15px 0px 15px;
}